.main {
    display: inline-block;
}

.top_bar {
    display: inline;
    text-align: center;   
}
.actions_list {
    font-size: 25px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.actions_list li {
    font-family: "Avenir",Arial,sans-serif;
    line-height: 50px;
    font-weight: 500;
    display: inline;
}

.filters {
    display: inline;
    text-align: center;
}
.filters_list {
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
.filters_list li {
    font-family: "Avenir",Arial,sans-serif;
    line-height: 50px;
    font-weight: 500;
    float: left;
    display: inline;
}

.footer {
    background: #CCC;
    filter: alpha(opacity=20);
    opacity: 0.6;
}

li {
    padding: 5;
}
.left {
    float: left;
}
.right {
    float: right;
}