.main_div {
    margin-top: 0px;
    height: 560px;
    width: 100%;
}

.top_bar {
    display: inline;
    text-align: center;   
}
.top_bar_elements {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.top_bar_elements li {
    font-family: "Avenir",Arial,sans-serif;
    line-height: 50px;
    display: inline;
}


label {
    font-family: "Avenir",Arial,sans-serif;
}
h2 {
    font-family: "Avenir",Arial,sans-serif;
}
h4 {
    font-family: "Avenir",Arial,sans-serif;
    font-size: 20px;
}
h1, h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

footer {
    font-family: "Avenir",Arial,sans-serif;
    text-align: center;
}

li {
    padding: 10;
}
.logo {
    font-size: 30px;
    font-weight: 840;
    float: left;
}
.right {
    font-size: 20px;
    margin: 0 25px 0 0;
    float: right;
}

.forms {
    display:flex;
    flex-direction:row;
    padding-top: 50px;
    width: 415px;
    height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.login_form {
    margin: 30px;
}
.register_form {
    margin: 30px;
}

.forms_account_view {
    display:flex;
    flex-direction:row;
    padding-top: 50px;
    width: 370px;
    height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.account_information {
    padding: 30px;
}
.modify_form {
    padding: 30px;
}

.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 1px;
    box-shadow: 1px 1px 5px #D3D3D3;
  }
#full_product {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  #single_product {
    float: left;
    padding: 20px;
   }