html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #000000;
background-image: linear-gradient(180deg, #000000 40%, #07032c 90%);
}

/** ELEMENTS **/
/**************/

#container {
    display: grid;
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(250, 223, 193); */
}

footer {
    /* background-color: rgb(237, 242, 253); */
    font-family: "Avenir",Arial,sans-serif;
    text-align: center;
    height: 20px;
}

header {
    /* background-color: rgb(224, 232, 250); */
    margin-top: 10px;
    height: 5vh;
}

p {
    font-family: "Avenir",Arial,sans-serif;
}

#center {
    height: 85vh;
    width: 100vw;
}

.gallery_top {
    margin: auto;
    height: 50px;
}
h4 {
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Avenir",Arial,sans-serif;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}

.mainView {
    width: 100vw;
    height: 80vh;
    /* background-color: rgb(172, 229, 255); */
}
.main_box {
    margin-top: 20px;
    /* background-color: rgb(172, 229, 255); */
}

.top_bar {
    display: inline;
    text-align: center;   
    /* background-color: rgb(205, 205, 252); */
}
.top_bar_elements {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.top_bar_elements li {
    font-family: "Avenir",Arial,sans-serif;
    line-height: 40px;
    display: inline;
}


label {
    font-family: "Avenir",Arial,sans-serif;
}
h2 {
    font-family: "Avenir",Arial,sans-serif;
}
h1, h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}

a
{
    font-family: "Avenir",Arial,sans-serif;
    text-decoration: none;
    color: blue;
}


li {
    padding: 10;
}

h6 {
    font-family: "Avenir",Arial,sans-serif;
    margin-top: 0px;
    height: 40px;
    margin: 0;
}
.logo {
    margin-left: 20px;
    font-size: 40px;
    /* font-weight: 840; */
    float: left;
}
.right {
    font-size: 20px;
    margin: 0 25px 0 0;
    float: right;
}

/** FORMS **/
.forms {
    display:flex;
    flex-direction:row;
    padding-top: 50px;
    width: 427px;
    height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.login_form {
    padding: 0px;
    width: 240px;
    height: 230px;
    border:1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(180deg, #000000 30%, #050227 90%);
    border-radius: 20px;
    padding: 15px;
}
.register_form {
    padding: 0px;
    width: 200px;
    height: 395px;
    margin-left: 20px;
    border:1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(180deg, #000000 30%, #050227 90%);
    border-radius: 20px;
    padding: 15px;
}

.forms_account_view {
    display:flex;
    flex-direction:row;
    padding-top: 50px;
    width: 450px;
    height: 580px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.account_information {
    padding: 0px;
    width: 200px;
    border:1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(180deg, #000000 30%, #050227 90%);
    border-radius: 20px;
    padding: 15px;
}
.modify_form {
    padding: 0px;
    width: 200px;
    border:1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(180deg, #000000 30%, #050227 90%);
    border-radius: 20px;
    padding: 15px;
    margin-left: 20px;
}
#modify_button {
    width: 90px;
}
.input {
    width: 160px;
}



.band span {
    display: inline-block;
    line-height: normal;
    bottom: 0px;
    padding-left: 5px;
}
.band {
    background-color: rgba(0,0,0,0.25);
    position: absolute;
    height: 20px;
    line-height: 20px;
    width: 240px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 60%;
    color: #FFF;
    bottom: 0px;
    z-index: 1;
}

@media screen and (max-width: 600px)
{
    .top_bar_elements {
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100vw;
    }
}

/** PICTURE VIEW **/
.main_nav {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    height: 77vh;
}
.picture_view {
    position: relative;
    float: left;
    width: 430px;
    height: 450px;
}
.add_comment_form {
    width: 200px;
    height: 100px;
}
.add_comment {
    width: 200px;
    height: 100px;
    padding-bottom: 20px;
}
.single-picture {
    width: 430px;
    height: 320px;
}
.comment_view {
    position: relative;
    height: 600px;
    width: 450px;
    margin-left: 50px;
}
.comment_area {
    height: 50px;
    width: 394px;
}

.comments_section {
    background: linear-gradient(180deg, #000000 30%, #050227 90%);
    background-color: rgb(255, 255, 255, 0.1);
    width: 400px;
    max-height: 800px;
    overflow: hidden;
    overflow-y: auto;
}

.comments_section p {
    margin-left: 10px;
}

.single_comment {
    width: 100%;
}

/** BOX BIG **/
.main_box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    background: linear-gradient(180deg, #000000 30%, #050227 90%);
    width: 76.22vw;
    border:1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 20px;
    /* background-color: rgb(250, 176, 176);  */
}
.main_box section {
    height: 75vh;
    width: 78vw;
    overflow-y: auto;
  }

#full_product {
    position: relative;
    display: block;
    float: left;
    margin-left: 4px;
    margin-bottom: 7px;
    margin-right: 7px;
    width: 380px;
  }
.gallery_picture {
    display: block;
    width: 380px;
    height: auto;
}
#paginator {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
    height: 20px;
}
h5 {
    float: left;
    display: block;
    text-align: center;
}
a {
    float: left;
    display: block;
}

@media screen and (max-width: 1200px)
{
    .main_box {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        height: 82vh;
        width: 80vw;
        /* background-color: rgb(250, 176, 176);  */
    }
    .main_box section {
        height: 75vh;
        width: 80vw;
        overflow-y: auto;
      }
}

/* FILTERS */
.filters_list {
    /* background-color: rgb(200, 200, 252); */
    height: 90px;
    width: 98vw;
    margin-left: 5px;
    border:1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 15px;
    background: linear-gradient(180deg, #000000 , #04011a 90%);
}
.filters_list_top {
    /* background-color: rgb(200, 200, 252); */
    height: 30px;
    width: 100vw;
}
.filters_list_top h5 {
    /* background-color: rgb(200, 200, 252); */
    margin-left: 20px;
}

.filter_box {
    display: block;
    float: left;
    height: 90px;
    width: 90px;
}
.filter_box:focus {
    outline: 1px solid blue;
}

.filter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
}

/** RIGHT BOX **/
h5 {
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Avenir",Arial,sans-serif;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
}
.right_box_top {
    height: 40px;
}
.right_box {
    position: relative;
    float: right;
    height: 50vh;
    width: 843px;
    margin-top: 30px;
    margin-right: 300px;
    border:1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(180deg, #000000 , #04011a 90%);
    border-radius: 20px;
    padding: 15px;
}
.right_box section {
    height: 45vh;
    width: 900px;
    overflow-y: auto;
    margin-right: 0px;
    grid-template-columns: 100px 1fr;
}

#full_product_small {
    position: relative;
    display: block;
    float: left;
    margin-left: auto;
    margin-bottom: 4px;
    margin-right: 4px;
    width: 165px;
  }
.gallery_picture_small {
    display: block;
    width: 165px;
    height: auto;
}
@media screen and (max-width: 1200px)
{
    .right_box {
        position: relative;
        float: left;
        height: 400px;
        width: 100vw;
        margin-right: 10px;
        margin-left: 10px;
    }

    .right_box section {
        height: 400px;
        width: 100vw;
        overflow-y: auto;
        margin-right: 0px;
        grid-template-columns: 100px 1fr;
    }
    #user_pictures {
        height: 400px;
        width: 100vw;
        margin-right: 0px;
    }
    .right_box_top {
        height: 40px;
        width: 100vw;

    }
    #user_pictures {
        height: 54vh;
        width: 100vw;
        margin-right: 0px;
        }
}

@media screen and (max-width: 500px)
{
    .right_box {
        position: relative;
        float: left;
        height: 400px;
        width: 100vw;
        margin-right: 10px;
        margin-left: 10px;
    }

    .right_box section {
        height: 400px;
        width: 100vw;
        overflow-y: auto;
        margin-right: 0px;
        grid-template-columns: 100px 1fr;
    }
    #user_pictures {
        height: 400px;
        width: 100vw;
        margin-right: 0px;
    }
    .right_box_top {
        height: 40px;
        width: 100vw;

    }
    #user_pictures {
        height: 54vh;
        width: 100vw;
        margin-right: 0px;
        }
    #full_product_small {
        position: relative;
        display: block;
        float: left;
        margin-left: auto;
        margin-bottom: 4px;
        margin-right: 4px;
        width: 30vw;
        }
    .gallery_picture_small {
        display: block;
        width: 30vw;
        height: auto;
    }
}

/* LEFT BOX */
.left_box {
    display: inline-block;
}
.left_box {
    position: relative;
    margin-left: 400px;
    margin-top: 30px;
    float: left;
    height: 346px;
    width: 430px;
    border:1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(180deg, #000000 , #04011a 90%);
    border-radius: 20px;
    padding: 15px;
}
.left_elements {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}
.buttons_list {
    display: inline-block;
    margin-top: 330px;
    height: 40px;
    width: 430px;
}
.snap_button {
    float: left;
    width: 100px;
}
.import_button {
    float: right;
    width: 100px;
}
.camera_view, .snap_view {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.camera_view {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 430px;
	height: 320px;
}
.filter_view {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 430px;
	height: 320px;
}
.filter_img
{
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 130px;
    width: auto;
	height: 180px;
}
.snap_view {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 430px;
    height: 320px;
}

#imgLoader {
    display: none;
}
.imported {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 430px;
    height: 320px;
}

@media screen and (max-width: 1200px)
{
    .left_box {
        display: inline-block;
    }
    .left_box {
        position: relative;
        margin-left: 10px;
        margin-right: auto;
        margin-top: 100px;
        float: left;
        height: 400px;
        width: 100vw;
    }
    .left_elements {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
    }
}